<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<!--<head>-->
    <title>Board Read</title>
    <th:block layout:fragment="script">
        <script type="text/javascript" src="/js/reply.js"></script>
    </th:block>
<!--</head>-->
<!--<body>-->
    <th:block layout:fragment="content">
        <div class="container-fluid">
            <section class="header">
                <h1 class="mt-4">
                    Board #[[${board.bno}]]
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Board</a></li>
                    <li class="active">read</li>
                </ol>
            </section>
            <!-- Main content -->
            <section class="content container-fluid">
                <!-- board -->
                <div class="card">
                    <!-- card-header -->
                    <div class="card-header">
                        <h3 class="card-title">READ BOARD</h3>
                    </div>
                    <!-- card-body -->
                    <div class="card-body" th:object="${board}">
                        <input th:field="*{bno}" type="hidden" >
                        <div class="form-group">
                            <label for="InputBoardTitle">Title</label>
                            <input th:value="*{title}" type="text" class="form-control" id="InputBoardTitle"  readonly="readonly">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <textarea th:inline="text" class="form-control" rows="3" readonly="readonly">[[*{content}]]</textarea>
                        </div>
                        <div class="form-group">
                            <label for="InputBoardWriter">Writer</label>
                            <input th:value="*{writer}" type="text"  class="form-control" id="InputBoardWriter" readonly="readonly">
                        </div>
                    </div>
                    <!-- card-footer -->
                    <div class="card-footer">
                        <div sec:authorize="isAuthenticated()">
                            <button th:if="${#authentication.principal.username eq board.writer}" data-oper="modify" class="btn btn-darkgreen">Modify</button>
                            <button th:if="${#authentication.principal.username eq board.writer}" data-oper="remove" class="btn btn-puple">Remove</button>
                        </div>
                        <button data-oper="list" class="btn btn-blue">ListAll</button>
                    </div>
                </div>
            </section>
            <!-- Reply -->
            <div class="container-fluid">
                <div class="card mt-4">
                    <div class="card-header">
                        <i class="fa fa-comments fa-fw"></i> Reply
                        <button sec:authorize="isAuthenticated()" id="addReplyBtn" name="addReplyBtn" type="button"
                                class="btn btn-sm float-right btn-outline-dark">New Reply</button>
                    </div>

                    <div class="card-body">
                        <ul class="chat">
                            <li class="clearfix" data-rno="5">
                                <div>
                                    <div class="header">
                                        <strong class="text-blue">user00</strong>
                                        <small class="float-right text-muted">content</small>
                                    </div>
                                    <p class="text-lg-left mt-2">1997.08.14</p>
                                    <hr width="100%" style="color: #4e555b">
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="card-footer reply-pagination">
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal" id="postModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Reply</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="false">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label for="InputReply">Reply</label>
                            <input type="text" class="form-control" id="InputReply" name="reply">
                        </div>
                        <div class="form-group">
                            <label for="InputReplyer">Replyer</label>
                            <input class="form-control" id="InputReplyer" name="replyer" readonly="readonly">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="modalModBtn" type="button" class="btn btn-darkgreen" data-dismiss="modal">Modify</button>
                        <button id="modalRemoveBtn" type="button" class="btn btn-blue" data-dismiss="modal">Remove</button>
                        <button id="modalRegBtn" type="button" class="btn btn-blue" data-dismiss="modal">Register</button>
                        <button id="modalCloseBtn" type="button" class="btn btn-outline-dark" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

        <form id="operForm" action="/board/list" method="get">
            <input type="hidden" id="bno" name="bno" th:value="${board.bno}">
            <input type="hidden" id="pageNum" name="pageNum" th:value="${cri.pageNum}">
            <input type="hidden" id="amount" name="amount" th:value="${cri.amount}">
            <input type="hidden" id="type" name="type" th:value="${cri.type}">
            <input type="hidden" id="keyword" name="keyword" th:value="${cri.keyword}">
        </form>

        <div sec:authorize="isAuthenticated()">
            <input type="hidden" id="checkAuth" th:value="${#authentication.principal.username}">
            <input type="hidden" id="header" th:value="${_csrf.headerName}">
            <input type="hidden" id="token" th:value="${_csrf.token}">
        </div>
        <script>

            $(document).ready(function () {
                const operFrom = $("#operForm");

                $("button[data-oper='modify']").on("click", function (e) {
                    operFrom.attr("action", "/board/modify").submit();
                })

                $("button[data-oper='remove']").on("click", function (e) {
                    operFrom.attr("method", "post");
                    operFrom.attr("action", "/board/remove").submit();
                })

                $("button[data-oper='list']").on("click", function (e) {
                    operFrom.submit();
                })
            })

            $(document).ready(function () {
                const bnoValue = "[[${board.bno}]]";
                const replyUL = $(".chat");

                showList(1);

                function showList(page) {       //댓글 list 출력
                    replyService.getList({bno:bnoValue, page:page || 1}, function (replyCnt, list) {
                        let str = "";

                        if(list == null || list.length == 0) {
                            replyUL.html("");
                            return;
                        }

                        for(let i = 0, len = list.length || 0; i < len; i++) {
                            str += "<li class='clearfix' data-rno='" + list[i].rno + "'>";
                            str += "<div><div class='header'><strong class='text-blue'>" + list[i].replyer + "</strong>";
                            str += "<small class='float-right text-muted'>" + replyService.displayTime(list[i].replyDate) + "</small></div>";
                            str += "<p class='text-lg-left mt-2'>" + list[i].reply + "</p>";
                            str += "<hr width='100%' style='color: #4e555b'></div></li>";
                        }

                        replyUL.html(str);

                        showReplyPage(replyCnt);
                    });
                }

                const modal = $(".modal");
                const modalInputReply = modal.find("input[name='reply']");
                const modalInputReplyer = modal.find("input[name='replyer']");

                const modalRegisterBtn = $("#modalRegBtn");
                const modalModBtn = $("#modalModBtn");
                const modalRemoveBtn = $("#modalRemoveBtn");

                let replyer = null;

                const auth = $("#checkAuth").val();
                const authHeader = $("#header").val();
                const authToken = $("#token").val();

                if(auth != null) {
                    replyer = auth;

                    $(document).ajaxSend(function (e, xhr, options) {
                        xhr.setRequestHeader(authHeader, authToken);
                    });
                }

                let pageNum = 1;            //current page number !

                $("#addReplyBtn").on("click", function (e) {        //댓글 추가 버튼
                    modal.find("input").val("");
                    modal.find("input[name='replyer']").val(replyer);
                    modalRegisterBtn.show();
                    modalModBtn.hide();
                    modalRemoveBtn.hide();

                    $(".modal").modal("show");
                })

                modalRegisterBtn.on("click", function (e) {         //댓글 등록 버튼 (modal)

                    const reply = {
                        reply: modalInputReply.val(),
                        replyer:modalInputReplyer.val(),
                        bno:bnoValue
                    };
                    replyService.add(reply, function (result) {
                        modal.find("input").val("");
                        modal.modal("hide");

                        alert(result);

                        showList(1);
                    }, function (result) {
                        console.log(result);
                    });
                })

                modalModBtn.on("click", function (e) {          //댓글 수정 버튼 (modal)
                    const reply = {
                        rno: modal.data("rno"),
                        reply:modalInputReply.val(),
                        bno:bnoValue
                    }
                    replyService.update(reply, function (result) {
                        modal.find("input").val("");
                        modal.modal("hide");

                        alert(result);

                        showList(pageNum);
                    });
                })

                modalRemoveBtn.on("click", function (e) {               //댓글 삭제 버튼 (modal)
                    const rno = modal.data("rno");
                    replyService.remove(rno, function (result) {
                        modal.find("input").val("");
                        modal.modal("hide");

                        alert(result);

                        showList(pageNum);
                    });
                })

                $(".chat").on("click", "li", function (e) {             //댓글 클릭시 댓글 표시
                    const rno = $(this).data("rno");

                    replyService.get(rno, function (reply) {
                        modalInputReply.val(reply.reply);
                        modalInputReplyer.val(reply.replyer);
                        modal.data("rno", reply.rno);

                        modalRegisterBtn.hide();
                        modalModBtn.show();
                        modalRemoveBtn.show();

                        $(".modal").modal("show");
                    });
                })

                const replyPageFooter = $(".reply-pagination");

                function showReplyPage(replyCnt) {              //댓글 pagination 출력
                    let endNum = Math.ceil(pageNum/10.0) * 10;
                    let startNum = endNum - 9;

                    let prev = (startNum != 1);
                    let next = false;

                    if(endNum * 10 >= replyCnt) {
                        endNum = Math.ceil(replyCnt/10.0);
                    }
                    if(endNum * 10 < replyCnt) {
                        next = true;
                    }

                    let str = "<ul class='pagination float-right'>";

                    if(prev) {
                        str += "<li class='page-item'><a class='page-link' href='" + (startNum - 1) + "'>Prev</a></li>";
                    }

                    for(let i = startNum; i <= endNum; i++) {
                        const active = pageNum == i ? "active" : "";

                        str += "<li class='page-item " + active + "'><a class='page-link' href='" + i + "'>" + i + "</a></li>";
                    }

                    if(next) {
                        str += "<li class='page-item'><a class='page-link' href='" + (endNum + 1) + "'>Next</a></li>";
                    }

                    str += "</ul>";

                    replyPageFooter.html(str);
                }

                replyPageFooter.on("click","li a", function (e) {
                    e.preventDefault();
                    console.log("page click");

                    const targetPageNum = $(this).attr("href");

                    console.log("targetPageNum: " + targetPageNum);

                    pageNum = targetPageNum;

                    showList(targetPageNum);
                })
            })
        </script>
    </th:block>
<!--</body>-->
</html>
